@charset "UTF-8";

/*
    Pequenas telas: 600px ou menos; 
    Smartphones: de 600px até 768px; 
    Tablet: de 768px até 992px;
    Desktoop: de 992px até 1200px; 
    Grandes telas: acima de 1200px: 
*/
