/*                                               CONFIGURAÇÕES GERAIS DO SITE
*/

@charset "UTF-8";
@font-face {
    font-family: gliker;
    src: url(fonts/Gliker-Regular.ttf);
}
@font-face {
    font-family: now;
    src: url(fonts/now.thin.otf);
}
@font-face {
    font-family: ruda;
    src: url(fonts/ruda/Ruda-Medium.ttf);
}
:root{
    --font01: "gliker";
    --font02: "now"; 
    --font03: "ruda";
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    font-family: var(--font02);
    font-size: 4vw;
    text-align: center;
    padding: 0px 0px 40px 0px;
}
section{
    padding: 10vw 0px;
}
/*                                   CONFIGURAÇÃO DO CABEÇALHO
*/      

header {
    background-image: url(imagens/fundo001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;
    height: 50vw;
    background-color: rgba(0, 0, 0, 0.342);
}
#desfoque {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    justify-content: center;
    align-items: center;
}
#conteudo_do_nome {
    color: white;
    width: 35vw;
    height: 19vw;
    border-radius: 10px;
    position: relative;
    top: 2vw;
}

#nome_principal{
    display: flex;
    align-items: flex-end;
    margin-left: 15%;
}
#sobrenome{
    display: flex;
    align-items: flex-end;
    margin-left: 25%;
}

h1{
    font-family: var(--font03);
    font-size: 7vw;
    color: black;
}
#nome_principal, #sobrenome > p{
    font-family: var(--font03);
    margin-left: 2px;
    font-size: 5vw;
}

/*                                     PARTE DAS MIDIAS
*/
aside{
    display: flex;
    width: 100%;
    justify-content: center;
}
img{
    width: 8vw;    
    border-radius: 100%;
    margin: 20px;  
}

/*                                       PARTE DO SAIBA MAIS
*/

#saibamais{
    background-color: black;
    color: white;
}
#cxtexto01{
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: auto;
}
#cxtexto01 > p{
    font-size: 2.5vw;
    font-family: var(--font02);
}

/*                              PARTE DOS CONHECIMENTOS
*/

#conhecimentos > h2{
    padding: 50px 0px;
}

/*                               PARTE DOS PROJETOS
*/

#projetos{
    background-color: black;
    color: white;
}
.caixas_projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nomes_projetos{
    font-family: var(--font02);
    font-size: 2vw;
}

/*                          PARTE DA EMPRESA
*/

#empresa{
    color: black;
}
#box_flex{
    display: flex;
    align-items: center;
}
#cxtexto02{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 55vw;
    background-color: #b0b0b067;
    margin-left: 20px;
    color: black;
}
#cxtexto02 > p{
    font-size: 2.5vw;
    font-family: var(--font02);
}

#img_do_site{
    height: 30vw;
    width: 30vw;
    background-image: url(imagens/logo-lery.png);
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    margin-left: 30px;
    border-radius: 20px;
}

/*                  PARTE FINAL DO SITE (RODAPÉ)
*/

#final{
    background-color: black;
    color: white;
}
#final > p{
    font-family: var(--font02);
    font-size: 12px;
    width: 90%;
    margin: auto;
    text-align: justify;
}